<footer class="footer">
  <div class="card-footer bg-dark text-white d-flex flex-wrap">
    <div class="card-body col-sm-6 col-md-4 col-lg-3 p-3 flex-grow-1">
      <div class="card-title font-SmackBoom"><b>HeroesVote</b></div>
      <p class="card-text justify-text">
        <b>HeroesVote</b> is not affiliated with or endorsed by any comic book publisher.
        <b>HeroesVote</b> is a database website for educational purposes, so the heroes
        used here do not belong to the developer of this api, but to their
        respective publishers.
      </p>
    </div>
    <div class="card-body col-sm-6 col-md-4 col-lg-3 p-3 flex-grow-1">
      <div class="card-title font-SmackBoom"><b>About HeroesVote</b></div>
      <p class="card-text justify-text">
        Project made in Spring Boot and Angular 2. The data of the heroes
        are obtained from the public api:
      </p>
      <br><br>
      <a href="https://64064eb377c1a905a0d8eb1d.mockapi.io/superhero">
        https://64064eb377c1a905a0d8eb1d.mockapi.io/

      </a>
    </div>
  </div>
</footer>